.table {
    border-radius: 15px;  
    border: 3px solid rgb(61, 61, 107) ;
    box-shadow:0 0 0 0.2rem rgba(0, 0, 0, 0.25) ; 
  }
  .custom-toast {
    background-color: black !important;
    color: white !important;
  }


.footer {
  background-color: #f8f9fa; 
 
  text-align: center;
  margin-top: 25px; 
}

.footer img {
  width: 120%; 
  
  height: 50%;
}
.btn-success{
  background-color: rgb(225, 144, 203);
  border-color:  rgb(125, 83, 114);
  color: white;
}
.btn-danger{
  background-color: rgb(145, 145, 222);
  border-color: rgb(98, 98, 190);
  color: white;
}